// Only apply the blueprint form styles to forms with
// a class of "bp". This makes it easier to style
// forms from scratch if you need to.
@import partials/formtastic_base


form fieldset 
  :border 0px solid #CCC
form fieldset > ol
  :list-style-type none
  :padding-left 0em


form.mini fieldset
  li
    :line-height 1em
    label
      :float left
      :font-size 13px
      :font-weight bold
    input
      :font-size 12px
      :float left
    button
      :font-size 14px
      :float right
      :margin-right 5px


form.small fieldset
  :width 34em
  legend
    :font-size 1.5em
    :font-weight bold
  li
    :line-height 4em
    label
      :float left
      :font-size 1.2em
      :font-weight bold
      :width 12em
    input
      +border-radius(4px)
      :margin-right 5px
      :font-size 1.1em
      :border 1px solid #9BE1FB
      :width 12em
      :padding 0.5em

    input:focus
      :background-color #C5EFFD


    input[type=checkbox] 
      :float left
      :margin-right 5px
    button
      :float right
      :margin-right 5px


form.small fieldset.buttons ol 
  :padding-right 20px
  
form.main fieldset
  +column(18)
  legend
    :font-size 1.5em
    :font-weight bold
  li
    :line-height 60px
    label
      :float left
      :font-size 1.4em
      :font-weight bold
      :width 18em
    input
      +border-radius(4px)
      :margin-right 5px
      :font-size 1.3em
      :border 1px solid #9BE1FB
      :width 15em
      :padding 0.5em

    input:focus
      :background-color #C5EFFD

    input[type=checkbox] 
      :margin-right 5px

    button
      :float right
      :margin-right 5px

form.main fieldset.buttons ol 
  :padding-right 80px

form.login
  +column(12)
  :margin-top 8em
  :margin-left 10em
  :padding 4em
  :border 1px solid #D1EAF0

  li
    :line-height 60px
    label
      :float left
      :font-size 1.4em
      :font-weight bold
      :width 8em
    input
      +border-radius(4px)
      :margin-right 5px
      :font-size 1.3em
      :border 1px solid #9BE1FB
      :width 12em
      :padding 0.5em

    input:focus
      :background-color #C5EFFD

    button
      :float right
      :margin-right 5px
