@import fancy_buttons.sass


div#dialer_panel
  :text-align center

div.viz_hidden
  :visibility hidden

div#wrapup_contact_form
  :margin-left 3em

  fieldset.left_wrapup
    +column(10)

  fieldset.right_wrapup
    +column(10)
  fieldset ol
    li:hover
      :background -moz-linear-gradient(center top , #FFFFFF 0%, #CECECE 100%) repeat-x scroll left bottom white
      
  .buttons
    :float right
    :margin-right 4em



ol#dialer_tabs
  :list-style-type none
  :margin 0
  li
    +fancy-button-structure
    +fancy-button-colors-matte(#ddd)
    +fancy-button-padding(4px, 9px, 4px)
    +border-radius(4px)
    :text-align center
    :border-width 2px
    :display inline
    :font-size 1.4em
    :font-weight bold
  li:hover
    +fancy-button-colors-matte(#606060)
  li:active
    :border-width 2px
  li.clicked_tab
    +fancy-button-colors-matte(#606060)

div.tab_content
  +border-radius(4px)
  :border 2px solid #323232
  :margin 0
  :padding 1.5em

div#contact_information

  .left_contact_info
    +column(10)
  .right_contact_info
    +column(10)
  .buttons
    :float right
    :margin-right 4em

div#call_history

div#scheduled_tasks
  :display none

  div#scheduled_tasks_list
    +column(12)
    :padding 1em 1em 2em 1em

  div#new_scheduled_task_form
    +column(19)
    :padding 2em 1em 2em 1em
    :border-top 2px solid #ddd
    fieldset.left_stf
      +column(9.5)
    fieldset.right_stf
      +column(9)

    .buttons
      :float right
      :margin-right 2em
      :margin-top 2em


img.scheduled_task
  :vertical-align middle
  :margin-right 1em


div.left_toolbar
  :position fixed
  :right 100px
  :top 70px
  ol
    :list-style-type none
    :margin 0
    :width 12em
    li
      +fancy-button-structure
      +fancy-button-colors-matte(#ddd)
      :width 12em
      :-moz-border-radius 6px 0px 0px 6px
      :-webkit-border-radius 6px 0px 0px 6px
      :padding-left 10px

      a.more
        +unstyled-link
        :font-size 11px
        :cursor pointer

      div.settings 
        :display none

      div.settings fieldset
        :width 12em

      div.settings fieldset.inputs ol li 
        +border-radius(4px)
        +fancy-button-padding(2px, 6px, 2px)
        :width 11em
      div.settings fieldset.buttons ol li
        +border-radius(0px)
        :width 11em
        :background-image none
        :background none
        :border none

    li:active
      +fancy-button-colors-matte(#ddd)

    li:hover
      +fancy-button-colors-matte(#606060)


      div.settings 
        :display inline


      div.settings fieldset.inputs ol li label
        :text-shadow none !important

      div.settings fieldset.inputs ol li:hover label
        :text-shadow 1px 1px 1px #202020 !important

      div.nada
        :text-shadow 0 1px 1px #202020 !important


