<h3> Your contact lists </h3>

<ul>
  <% @contact_lists.each do |c| %>
    <li> 
    <%= link_to c.list_file_name, contact_list_path(c) -%> with (<%= c.contacts.count -%>) contacts 
    </li>
  <% end %>
</ul>

<h4> <%= link_to "Add a new contact list", new_contact_list_path %> </h4>
<h4> <%= link_to "Change my settings", edit_agent_path(current_user) %> </h4>


