<h3>Agent Settings </h3>

<%= semantic_form_for @agent do |form|%>
  <%= render :partial => 'form', :locals => {:form => form } %>
  <%= form.buttons do %>
      <li><button type="submit">Update</button></li>
  <% end %>
<% end %>
