      <fieldset class="inputs left_wrapup">
        <ol>
          <li class="boolean optional">
            <label for="contact_disposition_new">Leave as new</label>
            <input id="contact_disposition_new" type="radio" name="contact[disposition]" value="new">
          </li>
          <li class="boolean optional">
            <label for="contact_disposition_open">Open</label>
            <input id="contact_disposition_open" type="radio" name="contact[disposition]" value="open">
          </li>
          <li class="boolean optional">
            <label for="contact_disposition_sale">Sale</label>
            <input id="contact_disposition_sale" type="radio" name="contact[disposition]" value="closed_sale">
          </li>
        </ol>
      </fieldset>
      <fieldset class="inputs right_wrapup">
        <ol>
          <li class="boolean optional">
            <label for="contact_disposition_closed_no_sale">Closed No Sale</label>
            <input id="contact_disposition_closed_no_sale" type="radio" name="contact[disposition]" value="closed_no_sale">
          </li>
          <li class="boolean optional">
            <label for="contact_disposition_non_qualified">Non Qualified</label>
            <input id="contact_disposition_non_qualified" type="radio" name="contact[disposition]" value="non_qualified">
          </li>
          <li class="boolean optional">
            <label for="contact_disposition_abandoned">Abandoned</label>
            <input id="contact_disposition_abandoned" type="radio" name="contact[disposition]" value="abandoned">
          </li>
        </ol>
      </fieldset>

